<%- include('partials/header') %>
<body style="background-image: url(bgImg.jpg);">

<div class=" centered">
  <div class="logo"><img src="secret.svg"></div>
  <div class="container mt-100">
    <h1 class="display-3"></h1>
    <p class="lead"><b>Don't keep your secrets, share them anonymously!</b></p>
    <hr>
    <a class="btn btn-primary btn-lg btn-block" href="/register" role="button">Register</a>
    <a class="btn btn-secondary btn-lg btn-block" href="/login" role="button">Login</a>

  </div>
</div>
<%- include('partials/footer') %>
</body>