<%- include('partials/header') %>
<body style="background-image: url(bgImg.jpg);">

<div class=" centered">
  <div class="logo"><img src="secret.svg"></div>
  <div class="container mt-40">
    <h1 class="display-3"></h1>
    <p class="lead"><b style="color:black;text-align:center;">Wanna share your Secret?? <br>Share them anonymously by signing up on this platform!</b></p>
    <hr>
    <div class="r">
      <div class="col-sm-4">
    <a class="btn btn-primary btn-lg btn-block" href="/register" role="button">Register</a>
    <a class="btn btn-secondary btn-lg btn-block" href="/login" role="button">Login</a>
    </div>
  </div>

  </div>
</div>
<%- include('partials/footer') %>
</body>