<body style="background-image: url(bgImg.jpg);">
  <%- include('partials/header') %>

<div class="container mt-5">
  <div class="register_logo">
    <h1><img src="login.svg" /></h1>
  </div>

  <div class="r">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-success">Login</button>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4 mt-3">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
<%- include('partials/footer') %>

</body>
