<body  style="background-image: url(background5.png);">
  

<%- include('partials/header') %>

<div class="text-center">

  <nav class="navbar navbar-light  justify-content-between">
    <div class="nav_logo"><img src="secret1.svg" alt=""></div>
    
    <div class="log_sub">
      <div><a class="btn btn-outline-light" href="/logout" role="button">Log Out</a></div>
      <div class="submit_button"><a class="btn btn-outline-light" href="/submit" role="button">Submit a Secret</a></div>
    </div>
      
    
  </nav>
  
  
    <!-- <nav class="">
      <div><a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a></div>
      <div class="submit_button"><a class="btn btn-light btn-lg" href="/submit" role="button">Submit a Secret</a></div>
    </nav> -->
 
<div class="wrap">
  
  <div class="contain">
   <br><br>
   <img src="leaflet.png" >
   <div class="text-block">
    <p>OMKAR BHAMBURE ...have a great day .... enjoy the day</p>
   </div>
  </div> 

  <div class="contain">
    <br><br>
    <img src="leaflet.png" >
    <div class="text-block">
     <p>OMKAR BHAMBURE ...have a great day .... enjoy the day</p>
    </div>
   </div> 

   <div class="contain">
    <br><br>
    <img src="leaflet.png" >
    <div class="text-block">
     <p>OMKAR BHAMBURE ...have a great day .... enjoy the day</p>
    </div>
   </div> 

   <div class="contain">
    <br><br>
    <img src="leaflet.png" >
    <div class="text-block">
     <p>OMKAR BHAMBURE ...have a great day .... enjoy the day</p>
    </div>
   </div> 


</div>
  
	<!-- <% userswithSecrets.forEach(function(u){ %>
      <p class="secret-text"><%=u.secret%></p>
    <% }) %> -->
     
<%- include('partials/footer') %>
</body>