<body style="background-image: url(bgImg.jpg);">
  <%- include('partials/header') %>

<div class="container ">
  <div class=" centered">
    <div class="subm_logo"><img src="secret1.svg" alt=""></div>
    <div class="secret-text"><p>Don't keep your secrets, share them anonymously!</p></div>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>

</body>